:root {
    --primary-color: #28B463 ;
    --secundary-color:#abd4bd;
    --fourth-color:#212F3D ;
    --fifth-color:#117A65; 
    --sixth-color:#D1F2EB;
    --seventh-color:#136134;
    --header-size: 4rem;
    --font: 1.8rem; 
    --font-weight: bold

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hmtl {
    font-size: 62.5%;
    background-color: var(--fifth-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#body {
    margin: 1.5rem;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    
}
#header-div {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-image: url('images/icon/loro.jpg'); 
    background-size: cover; 
    background-position: bottom center; 
    margin: 1.5rem;
    width: 85vw;
    height: 30vh;  
    border: 0.1rem solid black;
}

.title-main {   
    color: var(--sixth-color);
    vertical-align: middle;
    text-shadow:    
    5px 5px 2px rgb(6, 62, 12);   
    font-weight: var(--font-weight);
    font-size: 4.5rem;
}
    

#main {
    padding: 1.5rem;
    width: 95vw;
    min-height: 100vh;
    background-color:var(--secundary-color);
    border: 0.1rem solid black;
    
}




#footer-main {
    margin: 1.5rem;
    padding: 1.5rem;
    width: 85vw;
    min-height: 15vh;
    background-color: var(--fifth-color);
    font-size: 1.2rem;
    vertical-align: middle;
    text-align: center;
    border: 0.1rem solid black;
}

.footer-description {
    font-size: 1rem;
}


.flex-container {
    margin: 1.5rem;
    padding: 1.5rem;
    width: 85vw;
    min-height: 15vh;
    background-color: var(--fifth-color);
    font-size: 1.2rem;
    vertical-align: middle;
    text-align: center;
    border: 10px solid rgba(2, 1, 0, .3);  

    
}

.flex-container section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    align-items: center;
    position: relative;
    margin: 0.5rem;
    
}

.flex-item img {
    max-width: 100vw;
    max-height: 35vh;
    object-fit: cover;
}



.image-description {
    display: none;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 10px;
    transition: opacity 0.3s ease;
    z-index: 1; 
}


.flex-item:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}


.flex-item:hover .image-description {
    display: block;
}


/* Estilos para el contenedor de navegación */
#nav-div {
    display: flex;
    margin-left: auto;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-width: 25vw;
    min-height: 25vh;
    background-color: var(--seventh-color);
    font-size: 1.2rem;
    vertical-align: middle;
    text-align: center;
    
}

.nav__item {
    display: block;
}
.nav__item a {
    color: var(--sixth-color);
    margin: 1.5rem;
    border-radius: 0.4rem;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;

}

.nav__item li {
    margin-right: 2rem;
}

.nav__item a:hover {
    color: var(--fifth-color); 
    background-color: var(--primary-color); 
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.8), 
                0 0 10px rgba(0, 128, 0, 0.8), 
                0 0 15px rgba(0, 128, 0, 0.8); 
}

.nav__item a:active {
    color: red;
    margin-bottom: 1rem;
}




#main-nav {
    list-style-type: none;
    padding: 0;
}





.container {

    margin: 1.5rem;
    padding: 1.5rem;
    width: 85vw;
    min-height: 15vh;
    background-color: var(--fifth-color);
    font-size: 1.2rem;
    vertical-align: middle;
    text-align: center;
    border: 10px solid rgba(2, 1, 0, .3);      
    display: flex;
    flex-direction: row; /* Apila los elementos verticalmente */
}

.grid-container {
    margin-left: 1.5rem;
    display: grid;
    max-width: 85vw;
    min-height: 15vh;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: repeat(1, 1fr); /* Dos filas de igual tamaño */
    gap: 2rem; /* Espacio entre las celdas */
}

.grid-item {
    display: grid;
    max-width: 85vw;
    min-height: 15vh;
    gap: 2rem;
}
.grid-item img {
    width: 15rem; 
    height: 15rem; 
    object-fit: fill;  
    
    
}




